<!DOCTYPE html>
<html>

<head>
<title>Admin Panel</title>

<style>

body{
font-family: Arial;
text-align:center;
background:#f4f4f4;
}

form{
background:white;
padding:20px;
width:300px;
margin:auto;
border-radius:10px;
box-shadow:0 0 10px gray;
}

input{
width:90%;
padding:10px;
margin:10px;
}

button{
padding:10px 20px;
background:green;
color:white;
border:none;
cursor:pointer;
}

button:hover{
background:darkgreen;
}

</style>

</head>

<body>

<h1>Admin Panel - Add Product</h1>

<form action="/add-product" method="POST">

<input type="text" name="name" placeholder="Product Name" required>

<input type="number" name="price" placeholder="Price" required>

<input type="text" name="image" placeholder="Image Name (example laptop.png)" required>

<button type="submit">Add Product</button>

</form>

<br>

<a href="/products.html">View Products</a>

</body>

</html>