body{
font-family: Arial;
margin:0;
padding:0;
}

header{
display:flex;
justify-content:space-between;
background:black;
color:white;
padding:15px;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
}

.hero{
text-align:center;
background:#eee;
padding:50px;
}

.products{
display:flex;
justify-content:center;
gap:20px;
padding:40px;
}

.product{
border:1px solid #ccc;
padding:20px;
text-align:center;
}

button{
background:black;
color:white;
padding:10px;
border:none;
cursor:pointer;
}

footer{
text-align:center;
background:black;
color:white;
padding:10px;
}